.FollowersHashtagTextStyle {
  padding-right: 5px;
  padding-top: 5px;
  display: flex;
  cursor: pointer;
}

.FollowersHashtagTextStyle:hover {
  color: rgba(52, 86, 255, 0.75);
  transition: all 0.2s ease-in-out;
}
