.FollowingsMains {
  background: #ffffff;
  border-radius: 22px;
  padding: 35px 16px 35px 7px;
}
.FollowingsMainsHeaderTitle {
  color: #070928;
  padding-left: 7px;
}
.FollowingsMainsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FollowingsMainsContents {
  padding-top: 8px;
}
.FollowingsMainsMoreItems {
  color: #27ae60;
  padding: 23px 0 0 7px;
  cursor: pointer;
}
