.InputFildsStyling {
  background: #f8f8fa;
  border-radius: 26px;
  padding: 15px 13px 18px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.InputFildsStylingInput {
  width: 100%;
}

.InputFildsStyling.small {
  height: 48px;
}
.InputFildsStyling.medium {
  height: 50px;
}
.InputFildsStyling.large {
  height: 60px;
}
/* ---- */
.InputFildsStylingIcons {
  display: flex;
}
.buttonMain {
  margin-left: 20px;
}
#fileInput {
  display: none;
}
#icon {
  /* width: 100px; */
  cursor: pointer;
}

.InputFildsStylinInput {
  width: 100%;
}
