.CoursesPopulerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CoursesPopulerMainCounts {
  align-items: end;
  text-align: end;
}
.CoursesPopulerMainPaddings {
  margin-top: 3px;
}
.CoursesPopulerMainCountsImages {
  margin-top: 5px;
  margin-right: 5px;
}
.CoursesPopulerMainTitle {
  color: #070928;
}
